Q1 Multiclass Logistic Regression Implement Multiclass Logistic Regression (step-by-
step) on Iris dataset using one vs. rest strategy?

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('iris.csv')

In [3]:
#implementing the algorithm for predicting if its 'Iris Setosa'

In [4]:
x_pred=df.iloc[101:102,:-1].values # for testing a setosa class species

In [5]:
# extract sepal length and sepal width of setosa and versicolor for our binary calssification problem
X = df.iloc[:100,:-1].values
y = df.iloc[:100, 5].values
# set output lable value to 1 if it is setosa and 0 if versicolor.
y = np.where(y == 'Iris-setosa', 1, 0)

In [6]:
# features standerdization
X_std = np.copy(X)
X_std[:,0] = (X_std[:,0] - X_std[:,0].mean()) / X_std[:,0].std()
X_std[:,1] = (X_std[:,1] - X_std[:,1].mean()) / X_std[:,1].std()

In [7]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [8]:
def sigmoid(X, theta):
    z = np.dot(X, theta[1:]) + theta[0]
    return 1.0 / ( 1.0 + np.exp(-z))

In [9]:
def lrCostFunction(y, hx):
    # compute cost for given theta parameters
    j = -y.dot(np.log(hx)) - ((1 - y).dot(np.log(1-hx)))
    return j

In [10]:
# Gradient Descent function to minimize the Logistic Regression Cost Function.
def lrGradient(X, y, theta, alpha, num_iter):
    # empty list to store the value of the cost function over number of iterations
    cost = []
    for i in range(num_iter):
        # call sigmoid function 
        hx = sigmoid(X, theta)
        # calculate error
        error = hx - y
        # calculate gradient
        grad = X.T.dot(error)
        # update values in theta
        theta[0] = theta[0] - alpha * error.sum()
        theta[1:] = theta[1:] - alpha * grad
        cost.append(lrCostFunction(y, hx))
    return cost

In [11]:
# m = Number of training examples
# n = number of features
m, n = X.shape
# initialize theta(weights) parameters to zeros
theta = np.zeros(1+n)
# Have set learning rate to 0.01 and number of iterations to 500
alpha = 0.01
num_iter = 500
cost = lrGradient(X_std, y, theta, alpha, num_iter)

In [12]:
# function to predict the output label using the parameters
def lrPredict(X):
    return np.where(sigmoid(X,theta) >= 0.5, 1, 0)

In [14]:
if lrPredict(x_pred) == np.array([0]):
    print('The following example belongs to Setosa class')
else :
    print('Does not belong to Setosa Class')

The following example belongs to Setosa class

Q2 Ridge Logistic Regression Download the exam dataset from the following link:
https://drive.google.com/file/d/1wH6ofvNGPmORFlCLt72WGhJYPZiXstYh/view
?usp=sharing
The dataset labels that whether or not the student will get admission on the basis of
the two exam scores. The plot of the data against exam1 and exam2

In [15]:
url='https://drive.google.com/file/d/1wH6ofvNGPmORFlCLt72WGhJYPZiXstYh/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [16]:
df

     0.051267   0.69956  1
0   -0.092742  0.684940  1
1   -0.213710  0.692250  1
2   -0.375000  0.502190  1
3   -0.513250  0.465640  1
4   -0.524770  0.209800  1
..        ...       ... ..
112 -0.720620  0.538740  0
113 -0.593890  0.494880  0
114 -0.484450  0.999270  0
115 -0.006336  0.999270  0
116  0.632650 -0.030612  0

[117 rows x 3 columns]

In [17]:
X= df.iloc[:,:2]
X

     0.051267   0.69956
0   -0.092742  0.684940
1   -0.213710  0.692250
2   -0.375000  0.502190
3   -0.513250  0.465640
4   -0.524770  0.209800
..        ...       ...
112 -0.720620  0.538740
113 -0.593890  0.494880
114 -0.484450  0.999270
115 -0.006336  0.999270
116  0.632650 -0.030612

[117 rows x 2 columns]

In [18]:
y = df.iloc[:,2:]
y

     1
0    1
1    1
2    1
3    1
4    1
..  ..
112  0
113  0
114  0
115  0
116  0

[117 rows x 1 columns]

In [19]:
def standardize(X):
    for i in range(shape(X)[1]):
        X[:,i] = (X[:,i] - np.mean(X[:,i]))/np.std(X[:,i])

In [20]:
def sigmoid(z):  
    g = 1/ (1 + np.exp(-z))
    return g

In [21]:
def compute_cost(X, y, w, b, lambda_= 1):
    m, n = X.shape
    total_cost=0.0
    for i in range(m):
        z = np.dot(X[i],w) +b
        f_w = sigmoid(z)
        total_cost = total_cost + (-y[i]*np.log(f_w)) -(1-y[i])*np.log(1-f_w)
    total_cost = total_cost/m
    return total_cost

In [22]:
def compute_gradient(X, y, w, b, lambda_=None): 
    m, n = X.shape
    dj_dw = np.zeros(w.shape)
    dj_db = 0.
    for i in range(m):
        f_wb_i = sigmoid(np.dot(X[i],w) + b)          
        err_i  = f_wb_i  - y[i]                       
        for j in range(n):
            dj_dw[j] = dj_dw[j] + err_i * X[i,j]      
        dj_db = dj_db + err_i
    dj_dw = dj_dw/m                                   
    dj_db = dj_db/m        
    return dj_db, dj_dw

In [29]:
import math
def gradient_descent(X, y, w_in, b_in, cost_function, gradient_function, alpha, num_iters, lambda_): 
    m = len(X)
    
    J_history = []
    w_history = []
    
    for i in range(num_iters):

        dj_db, dj_dw = gradient_function(X, y, w_in, b_in, lambda_)   

        w_in = w_in - alpha * dj_dw               
        b_in = b_in - alpha * dj_db              \

        if i<100000:    
            cost =  cost_function(X, y, w_in, b_in, lambda_)
            J_history.append(cost)

        if i% math.ceil(num_iters/10) == 0 or i == (num_iters-1):
            w_history.append(w_in)
            print(f"Iteration {i:4}: Cost {float(J_history[-1]):8.2f}   ")
        
    return w_in, b_in, J_history, w_history

In [24]:
def predict(X, w, b): 
    m, n = X.shape   
    p = np.zeros(m)
    for i in range(m):   
        z_wb = sigmoid(np.dot(X[i],w)+b)
        if z_wb >= 0.5:
            p[i] = 1
        else:
            p[i] =0
    return p

In [25]:
np.random.seed(1)
tmp_w = np.random.randn(2)
tmp_b = 0.3    
tmp_X = np.random.randn(4, 2) - 0.5

tmp_p = predict(tmp_X, tmp_w, tmp_b)
print(f'Output of predict: shape {tmp_p.shape}, value {tmp_p}')

Output of predict: shape (4,), value [0. 1. 1. 1.]

In [26]:
# UNQ_C5
def compute_cost_reg(X, y, w, b, lambda_ = 1):
    m, n = X.shape
    cost_without_reg = compute_cost(X, y, w, b) 
    reg_cost = 0.
    for j in range(n):
        reg_cost_j = w[j]**2
        reg_cost = reg_cost + reg_cost_j
    total_cost = cost_without_reg + (lambda_/(2 * m)) * reg_cost

    return total_cost

In [27]:
def compute_gradient_reg(X, y, w, b, lambda_ = 1): 
    m, n = X.shape
    
    dj_db, dj_dw = compute_gradient(X, y, w, b)   
    for j in range(n): 
        dj_dw_j_reg = (lambda_ *w[j])/m
        dj_dw[j] = dj_dw[j] + dj_dw_j_reg
        
    return dj_db, dj_dw

In [30]:
np.random.seed(1)
initial_w = np.random.rand(X.shape[1])-0.5
initial_b = 1.
X_train = np.random.randn(4, 2) - 0.5
y_train = np.random.randn(4, 1) 
lambda_ = 0.2;                                          
iterations = 1000
alpha = 10

w,b, J_history,_ = gradient_descent(X_train, y_train, initial_w, initial_b, 
                                    compute_cost_reg, compute_gradient_reg, 
                                    alpha, iterations, lambda_)

Iteration    0: Cost   -17.02
Iteration  100: Cost  -124.26
Iteration  200: Cost     -inf
Iteration  300: Cost      nan
Iteration  400: Cost      nan
Iteration  500: Cost      nan
Iteration  600: Cost      nan
Iteration  700: Cost      nan
Iteration  800: Cost      nan
Iteration  900: Cost      nan
Iteration  999: Cost      nan

<ipython-input-20-608d512e9b8a>:2: RuntimeWarning: overflow encountered in exp
  g = 1/ (1 + np.exp(-z))
<ipython-input-21-122fc9ecc4d7>:7: RuntimeWarning: divide by zero encountered in log
  total_cost = total_cost + (-y[i]*np.log(f_w)) -(1-y[i])*np.log(1-f_w)
<ipython-input-21-122fc9ecc4d7>:7: RuntimeWarning: invalid value encountered in add
  total_cost = total_cost + (-y[i]*np.log(f_w)) -(1-y[i])*np.log(1-f_w)